@mixin inputButton {
  background: $buttonColor;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #f5f5f0;
  text-shadow: 1px 1px 1px black;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
}
