body {
  font-family: 'Acme', sans-serif;
  margin: 0;
  background-color: #003040;
}

main {
  background: #008040;
  width: 80%;
  padding: 10px 50px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  align-items: center;
  display: flex;
  flex-flow: column;
  color: white;
}

img {
  width: 70%;
  margin: 15px auto;
  max-height: 500px;
  justify-content: center;
}

h1,
h2,
h3 {
  margin: 5px;
  font-family: 'Acme', sans-serif;
  letter-spacing: 3px;
  text-align: center;
}

.calories {
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
}

#menu-bar {
  background-color: #00b080;
  color: #fff;
  padding: 10px 50px;
  font-family: 'Acme', sans-serif;
}

#menu-bar:hover {
  background-color: #404040;
}

#menu-bar h1 {
  font-size: 30px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar h1:hover {
  background-color: #00e3a5;
}

#menu-bar ul {
  float: right;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
  letter-spacing: 3px;
}

#menu-bar li {
  float: right;
  margin-left: 50px;
}

#menu-bar li:hover {
  background-color: #00e3a5;
}

#menu-bar a {
  color: #fff;
}

.buttons {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.content .input-field {
  width: 60%;
}

.sum {
  clear: both;
  display: block;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

.filter {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.filter-clear {
  width: 240px;
  height: 60px;
  font-size: 26px;
  background: linear-gradient(#156B2F, #2F424F);
}

.content {
  padding: 10px;
}

.content button {
  background: linear-gradient(#156B2F, #2F424F);
}

.content button:hover {
  background: #00ba87;
}

.content button, .content input[type="submit"] {
  background: linear-gradient(#156B2F, #2F424F);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #f5f5f0;
  text-shadow: 1px 1px 1px black;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
}

.content button:hover, .content input[type="submit"]:hover {
  background: #00ba87;
}

.content ul {
  padding: 0;
  list-style-type: none;
  margin: 15px 0;
}

.content li {
  padding: 10px 20px;
  border-top: 1px solid #e2e2e2;
  color: #F5F5F5;
  float: left;
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .content li {
    width: 95%;
  }
}

.content li:hover {
  background: #008f48;
}

.content li span {
  float: right;
}

.content li h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input {
  justify-content: center;
  width: 94%;
  padding: 2px 20px;
  border-radius: 10px;
  border: 3px solid #a3a375;
  margin: 10px 0;
  font-size: 30px;
  box-shadow: 2px 2px 2px black;
}

.content input[type="submit"]:last-child {
  width: 200px;
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

.date-field {
  width: 94%;
  height: 38px;
  font-size: 30px;
}

.remove {
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  margin-left: 10px;
}
