<div class="content">
  <div class="buttons">
    <button ng-click="order = 'name'">Order by Name</button>
    <button ng-click="order = 'date'">Order by Date</button>
    <button ng-click="order = 'calories'">Order by Calories</button>
    <button ng-click="order = 'calories'">Clear filter-field</button>
  </div>
  <input type="text" ng-model="search" placeholder="valami"/>
  <ul>
    <li ng-repeat="meal in meals | orderBy: order | filter: search" ng-hide="meal.deleted">
      <h3>{{meal.name}} - {{meal.calories}} - {{meal.date | date}}</h3>
      <div class="remove" ng-click="removeMeal(meal)">x</div>
    </li>
  </ul>
  <div>Sum calories: {{sumcalories}}</div>
  <form ng-submit="addMeal()">
    <input type="text" placeholder="name" ng-model="newMeal.name" />
    <input type="number" placeholder="calories" ng-model="newMeal.calories" />
    <input type="date" placeholder="date" ng-model="newMeal.date" />
    <input type="submit" value="Add new one" />
  </form>
</div>
