<div class="content">
  <button ng-click="order = 'name'">Order by Name</button>
  <button ng-click="order = 'calories'">Order by Calories</button>
  <button ng-click="order = 'date'">Order by Date</button>
  <p>{{message}}</p>
  <input type="text" ng-model="search" placeholder="valami"/>
  <ul>
    <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-hide="ninja.deleted">
      <h3>{{ninja.name}} - {{ninja.calories}} - {{ninja.date}}</h3>
      <div class="remove" ng-click="removeNinja(ninja)">x</div>
    </li>
  </ul>
  <form ng-submit="addNinja()">
    <input type="text" placeholder="name" ng-model="newninja.name" />
    <input type="text" placeholder="calories" ng-model="newninja.calories" />
    <input type="text" placeholder="date" ng-model="newninja.date" />
    <input type="submit" value="Add new one" />
  </form>
</div>
