<div class="content">
  <div class="buttons">
    <button ng-click="order = 'name'">Order by Name</button>
    <button ng-click="order = 'date'">Order by Date</button>
    <button ng-click="order = 'calories'">Order by Calories</button>
  </div>
  <section class="filter">
    <input class="input-field" type="text" ng-model="search" placeholder="Filter"/>
    <button class="filter-clear" ng-click="clearFilterInput()">Clear filter-field</button>
  </section>
  <ul>
    <li ng-repeat="meal in meals | orderBy: order | filter: search" ng-hide="meal.deleted">
      <h3>{{meal.name}} - {{meal.calories}} - {{meal.date | date}}</h3>
      <div class="remove" ng-click="removeMeal(meal)">x</div>
    </li>
  </ul>
  <div class="sum">Sum calories: {{sumcalories}}</div>
  <form ng-submit="addMeal()">
    <input type="text" placeholder="Meal" ng-model="newMeal.name"/>
    <input type="number" placeholder="Calories" ng-model="newMeal.calories"/>
    <input class="date-field" type="date" placeholder="Date" ng-model="newMeal.date"/>
    <input type="submit" value="Add new one"/>
  </form>
</div>
